<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--<add name="con" connectionString="Data Source=PC3-PC;Initial Catalog=patel_saw_mill;Integrated Security=True" />-->
		<!--<add name="con" connectionString="Data Source=198.71.226.2;Initial Catalog=patel_saw_mill;User ID=patel_user;Password=***********" />-->
		<add name="con" connectionString="Data Source=JAY\SQLEXPRESS;Initial Catalog=accont_db;Integrated Security=True"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
