<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--<add name="con" connectionString="Data Source=198.71.226.2;Initial Catalog=ac;Integrated Security=True" />-->
		<!--<add name="con" connectionString="Data Source=198.71.226.2;Initial Catalog=ac;User ID=ac_user;Password=***********" />-->
		<add name="con" connectionString="Data Source=LIONHEART\SQLEXPRESS;Initial Catalog=account_db;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
    <!--<add name="con" connectionString="Server=198.71.226.2;UID=ac_user;PWD=Ganesh@2014;database=ac;Connect Timeout=300;pooling='true'; Max Pool Size=100"/>-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
	</system.web>
</configuration>
